<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Notes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>List of Notes</h1>
    <a th:href="@{/note/add}" class="btn btn-primary mb-3">Add new</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note : ${notes}">
            <td th:text="${note.id}"></td>
            <td th:text="${note.title}"></td>
            <td th:text="${note.content}"></td>
            <td><a th:href="@{'/note/edit/' + ${note.id}}">Edit</a></td>
            <td><a th:href="@{'/note/delete/' + ${note.id}}" onclick="return confirm('Are you sure you want to delete this note?')">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>